@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-100 text-gray-800 dark:bg-gray-900 dark:text-gray-100;
    transition: background-color 0.3s ease, color 0.3s ease;
}